### 변수
- 변하는 수

In [4]:
1+2

3

In [5]:
 print("안녕하세요")

안녕하세요

In [6]:
a=3
a

3

In [7]:
p="python"
p

'python'

In [8]:
a,b=3,4

In [9]:
print(a,b)

3 4

In [10]:
print(a+b)

7

In [11]:
p+a

TypeError: can only concatenate str (not "int") to str

In [12]:
h="hello"
p="python"

In [15]:
print(h+" "+p)

hello python

In [18]:
num1=100
num2=50
sum=num1+num2

In [21]:
print(sum)

150

In [25]:
print(a)
print(b)

3
4

In [29]:
# \n: 줄바꿈
print(a,"\n",b)

3
 4

In [30]:
s="python is very fun, i am happy"
s

'python is very fun, i am happy'

In [31]:
s="python is very fun \n , i am happy"
s

'python is very fun \n , i am happy'

In [38]:
# 학번, 이름, 학과 출력
stuNum=224621
name="김근환"
dep="인공지능학부"
print("학번:",stuNum,"이름:",name,"학과",dep)

학번: 224621 이름: 김근환 학과 인공지능학부

In [44]:
a=3
b=4
sum=a+b
print(a,"과",b,"의 합은",sum,"입니다") #3과 4의 합은 7입니다

3 과 4 의 합은 7 입니다

In [46]:
값=a-b
값

-1

In [48]:
result=a*b  # * = 곱하기
result

12

In [50]:
result=a/b  #/ = 나누기
result

0.75

In [51]:
# % = 나머지 연산자
print(10%4)

2

In [58]:
# ** = 거듭제곰
print(2**3)

8

### input()함수
- 사용자에게키보드로부터 값을 입력받는 함수

In [60]:
input()

100

'100'

In [63]:
a=input()

100

In [64]:
a

'100'

In [65]:
type(a)

str

In [79]:
int(a) # 정수로 변환

100

In [70]:
type(int(a))

int

In [71]:
a=input()
b=input()

100
200

In [73]:
type(a)

str

In [74]:
print(a+b)

100200

In [82]:
a=int(input("첫번째 수 입력: "))
b=int(input("두번째 수 입력: "))
print("합계:", a+b)

첫번째 수 입력: 100
두번째 수 입력: 200
합계: 300

- 학번 이름 입력받기

In [ ]:
stuNum=input("학번:")
name=input("이름:")
print("학번:",stuNum,"이름",name)

In [ ]:
stuNum=input("학번:")
name=input("이름:")
print("학번:",stuNum,"이름",name)

In [ ]:
stuNum=input("학번:")
name=input("이름:")
print("학번:",stuNum,"이름:",name)